@{
    ViewData["Title"] = "VideoLibrary";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Movie App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="container">
        <div class="headerContainer">
            <div class="headerContent">
                <a href="#" class="headerLogo">VideoLibrary</a>
                <form>
                    <input type="text" class="headerSearch" placeholder="Search">
                </form>
            </div>
            <div class="headerContent2">
                <button class="mainButton">GO</button>
                <button class="dateButton">NEW</button>
            </div>
         </div>

                
    </header>
    <div class="container">
        <div class="movies"></div>
    </div>
   

    <script src="js/script.js"></script>
</body>

</html>

