@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Movie App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="container">
        <div class="headerContainer">
            <div class="headerContent">
                <a href="#" class="headerLogo">MovieApp</a>
                <form>
                    <input type="text" class="headerSearch" placeholder="Search">
                </form>
            </div>
            <div class="headerContent2">
                <button>GO</button>
            </div>
        </div>  
         <div class="container">
           <div class="row">
               <div class="col-12 mb-5 mt-5">
                   <div class="w-100 row makeYourOwnDiv">
                       <div class="col-4">
                           <img src="~/images/movies/watcher.jpg" class="w-100"/>
                       </div>
                   </div>
               </div>
           </div>
        </div>
          <div class="container">
           <div class="row">
               <div class="col-12 mb-5 mt-5">
                   <div class="w-100 row makeYourOwnDiv">
                       <div class="col-4">
                           <img src="~/images/movies/sonic.jpg" class="w-100"/>
                       </div>
                   </div>
               </div>
           </div>
        </div>

         <div class="container">
            <div class="row">
               <div class="col-12 mb-5 mt-5">
                   <div class="w-100 row makeYourOwnDiv">
                       <div class="col-4">
                           <img src="~/images/movies/redpanda.jpg" class="w-100"/>
                       </div>
                   </div>
               </div>
            </div>
         </div>
          <div class="container">
            <div class="row">
               <div class="col-12 mb-5 mt-5">
                   <div class="w-100 row makeYourOwnDiv">
                       <div class="col-4">
                           <img src="~/images/movies/avatar2.jpg" class="w-100"/>
                       </div>
                   </div>
               </div>
            </div>
         </div>
                <div class="container">
            <div class="row">
               <div class="col-12 mb-5 mt-5">
                   <div class="w-100 row makeYourOwnDiv">
                       <div class="col-4">
                           <img src="~/images/movies/mission7.jpg" class="w-100"/>
                       </div>
                   </div>
               </div>
            </div>
         </div>
               <div class="container">
            <div class="row">
               <div class="col-12 mb-5 mt-5">
                   <div class="w-100 row makeYourOwnDiv">
                       <div class="col-4">
                           <img src="~/images/movies/marvel.jpg" class="w-100"/>
                       </div>
                   </div>
               </div>
            </div>
         </div>
                   
    </header>
    <div class="container">
        <div class="movies"></div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>

